@charset "utf-8";
/* CSS Document */
h1{
   color: aqua;
}
.a1{
    border-style: solid;
    border-width: 10px;
    border-color: red;
    margin: 20px 2px;
}
#blue{
    color: #0D56E1;
}

div{
    border-style: solid;
    border-width: 10px;
    border-bottom-color: antiquewhite;
    margin: 30px;
}
div.a2{
    border-color: red;
    background: #413417;
}
h3,div{
    background: #B3B3B3;
}
div p{
    background:#FFFFFF;
    border-style: solid;
    border-width: 10px;
    border-color: aqua;
}